body {
    user-select: none;
    animation: colorChange .75s;
}

section {
    transform: translateY(5.6vh);
    min-height: 550px;
}

info {
    display: block;
    margin-top: 90vh;
}

ui {
    transition: transform 2s ease-in-out;
    display: block;
}

.star {
    margin: 25px 2px;
    height: 0;
    width: 0;
    position: relative;
    border-right: 17.5px solid transparent;
    border-bottom: 12.25px solid #979797;
    border-left: 17.5px solid transparent;
    transform: rotate(35deg);
}

.star:before, .star:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
}

.star:before {
    top: -9.1px;
    left: -11.2px;
    border-bottom: 14px solid #979797;
    border-left: 5.25px solid transparent;
    border-right: 5.25px solid transparent;
    transform: rotate(-35deg);
}

.star:after {
    top: 0.7px;
    left: -18px;
    border-right: 17.5px solid transparent;
    border-bottom: 12.55px solid #979797;
    border-left: 17.5px solid transparent;
    transform: rotate(-70deg);
}

.active-star, .active-star:before, .active-star:after {
    border-bottom-color: #c6cbf1;
}

.head_some-info {
    display: flex;
    margin-bottom: 15px;
}

.title_some-info {
    width: 160px;
}

.title_some-info, .some-info {
    font-size: 0.83em;
    font-weight: bold;
    max-width: 500px;
}


/* LOADING */

.spinner {
    display: block;
    position: fixed;
    top: 50%;
    left: calc(50% - 25px);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-width: 6px;
    border-top-color: #b5b5b5;
    animation: spinner 0.6s linear infinite;
}

font[size='70'] {
    font: 25px normal tahoma, verdana, arial, sans-serif;
}



/* DESIGN */

.united_el {
    max-width: 1200px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: max-width 0.2s ease-in-out;
}

.united_el > div {
    background-color: #222a33;
    border-radius: 12px;
    box-shadow: -2px 3px 6px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto 15px;
}

.united_el > div > div {
    padding: 10px 15px;
    position: relative;
}

header.NameFilm_head > h2 {
    margin-bottom: 10px;
    display: inline-block;
    font: 20px normal tahoma, verdana, arial, sans-serif;
    color: #b5b5b5;
}

header.NameFilm_head > h2 > div {
    display: flex;
    align-items: center;
}

header.NameFilm_head .NameFilm {
    user-select: text;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.3));
}

.header_container {
    background-color: #1b2229;
    border-radius: 48px;
    margin-right: 5px;
    width: 47px;
    transition: all 0.5s ease-in-out;
}

.header_container .back-arrow {
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 20px;
}

.header_homepage {
    filter: invert(45%);
    position: absolute;
    transform: translateY(32%) translateX(-35px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    user-select: none;
}

.header_homepage:hover {
    filter: invert(30%);
}

.header_container:hover {
    width: 80px;
    transition: all 0.5s ease-in-out;
}

.header_container:hover .header_homepage {
    opacity: 1;
    transform: translateY(32%) translateX(-2px);
    transition: transform 0.5s ease-in-out, opacity .5s ease-in-out;
}

info .info_container {
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

pre_info {
    margin-bottom: 1.2rem;
    justify-content: center;
}

.info_container .information {
    background-color: #222a33;
    border-radius: 12px;
    box-shadow: -2px 3px 6px 2px rgba(0, 0, 0, 0.3);
    padding: 20px 0 5px 15px;
}

.poster {
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.watch_mode_container {
    display: flex;
    position: absolute;
    align-self: end;
    bottom: 0;
    right: 0;
    margin: 0 16px 10px 0;
}

.watch_mode_container .watch_mode {
    filter: invert(45%);
}

.information > div {
    display: flex;
}

.information img {
    border-radius: 6px;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.information_text {
    margin: 15px 0 0 15px;
    font: 14px normal tahoma, verdana, arial, sans-serif;
    color: #b5b5b5;
    filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.3));
}

.information_text h2 {
    display: flex;
}

.information_text .about {
    font-size: 15px;
}

.information_text .citation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}

.information_text .description {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 12px;
}

.rating_container {
    margin: -20px 45px 0 auto;
}

.rating_container .rating_text {
    font-size: 0.83em;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.star_container {
    display: flex;
}

.star_container .star-line {
    font-size: 14px;
    display: flex;
    position: relative;
}

.star_container .star_score {
    font-weight: bold;
    font-size: 30px;
    color: #c6cbf1;
    margin: auto 0 auto 15px;
}

iframe.kinobox__iframe, div.kinobox__loaderWrapper {
    border-radius: 10px;
}

.kinobox {
    border-radius: 10px;
    box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.kinobox_nav .kinobox_nav_ul {
    border-radius: 6px 0 0 6px;
    transition: all .2s ease-in-out;
    outline: none;
    box-shadow: -1px -1px 6px 1px rgba(0, 0, 0, 0.3);
}

.kinobox_nav_ul li {
    color: black;
    background: #41536b !important;
}

.menu_list .kinobox_nav_ul li:hover {
    background: #7ba2d1 !important;
}

.kinobox_nav_ul li[active] {
    background: #5d7ea5 !important;
}


/* WATCH MODE */

@media (max-width: 1200px) {
    .watch_mode {
        display: none
    }
}

.watch_mode {
    position: relative;
    width: 20px;
    height: 20px;
}

.watch_mode:hover {
    filter: invert(30%) !important;
}

.watch_mode:before {
    background-image: url(https://yastatic.net/s3/kinopoisk-frontend/hd-www/release/_next/static/media/top-arrow.025c12cf.svg);
    top: 1px;
    right: 0;
}

.watch_mode:after {
    background-image: url(https://yastatic.net/s3/kinopoisk-frontend/hd-www/release/_next/static/media/bottom-arrow.b4fcf81a.svg);
    top: 10px;
    left: 3px;
}

.watch_mode:before, .watch_mode:after {
    position: absolute;
    width: 8px;
    height: 8px;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.watch_active:before, .watch_active:after {
    transform: rotate(180deg);
}

.poster.watch, .kinobox_nav_ul.watch {
    display: none !important
}

.united_el.watch {
    max-width: 97.56% !important;
}

.VideoPleer.watch {
    justify-content: center;
}

.pre_info_arrow:not(:hover) {
    .half_arrow.first_half.watch {
        background-color: #1e2328 !important;
        transform: translateX(2.4px) rotate(0deg) !important;
    }

    .half_arrow.second_half.watch {
        background-color: #1e2328 !important;
        transform: translateX(-2.4px) rotate(0deg) !important;
    }
}

.pre_info_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.half_arrow {
    background-color: #171c21;
    width: 12px;
    height: 4px;
    border-radius: 100px;
    transition: transform .2s ease-in-out;
}

.half_arrow.first_half {
    transform: translateX(2.4px) rotate(20deg);
}

.half_arrow.second_half {
    transform: translateX(-2.4px) rotate(-20deg);
}

.half_arrow.second_half_up {
    transform: translateX(-2.4px) rotate(20deg);
}

.half_arrow.first_half_up {
    transform: translateX(2.4px) rotate(-20deg);
}

.pre_info_arrow:hover {
    .half_arrow {
        background-color: #aaa !important;
    }
}


/* UPDATE */

update {
    position: absolute;
}

update > div {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.update_menu {
    width: 500px;
    min-height: 220px;
    max-height: 96vh;
    background-color: #394555;
    color: #e1bdbd;
    border-radius: 12px;
    font: 14px normal tahoma, verdana, arial, sans-serif;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.3);
    z-index: 100;
    overflow-y: auto;
}

.update_menu > .update_head {
    margin-left: 12px;
}

.update_info {
    margin: 0 5px 0 20px;
}

.version_update {
    display: block;
}

.version_update:after {
    content: "";
    display: block;
    position: relative;
    top: .44em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33);
    margin-right: 25px;
}

.update_list {
    margin: 25px 0;
    height: auto;
    min-height: 48px;
    max-height: 75vh;
    overflow-y: auto;
}

.innovation {
    margin: 0.8em 20px 0.8em 0;
}

.highlighting:after {
    content: "";
    display: block;
    position: relative;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33);
    margin: 0 100px;
}

.version_highlighting {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    left: -12.5px;
}

.version_highlighting::before, .version_highlighting::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33);
}

.version_highlighting::before {
    margin: 0 10px;
}

.version_highlighting::after {
    margin: 0 12px 0 10px;
}

.update_buttons {
    justify-content: end;
    display: flex;
    margin: 0 20px 15px 0;
}

.update_later {
    margin-right: 10px;
    align-items: center;
    display: flex;
    font-size: 12px;
    cursor: pointer;
}

.update_later:hover {
    color: #ed9292;
}

.update_now {
    width: auto;
    height: 30px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update_now:hover {
    background-color: #252525 !important;
}



/* ARROWS */

@media (max-width: 50rem) {
    .poster {
        display: none
    }
    .wrapper,
    .NameFilm_head {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto
    }
}

[class*="back-arrow"] {
    color: #888 !important;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin: 10px;
    transform: rotate(-135deg)
}

[class*="back-arrow"]:hover {
    color: #aaa !important
}

[class*="back-arrow"]:before {
    right: 0;
    top: -3px;
    position: absolute;
    height: 4px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 15px;
    transform-origin: right top
}

[class*="back"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    box-sizing: border-box
}

[class*="back"]:after, [class*="back"]:before {
    content: "";
    box-sizing: border-box
}


/* OFFLINE MODE */

.reload_page_btn {
    margin: 0 3px;
    color: #e1bdbd;
    cursor: pointer;
    text-decoration: underline;
}

.offline_mode_btn {
    margin-left: 3px;
    color: #e1bdbd;
    cursor: pointer;
    text-decoration: underline;
}

.loading_alert {
    position: relative;
    top: 95%;
    display: flex;
    justify-content: center;
    color: #b5b5b5
}



/* KEYFRAMES */

@keyframes colorChange {
    0% {
        background-color: #1E1E1E;
    }
    100% {
        background-color: #2A3440;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}